{% extends '_layouts/base.njk' %}

{% block page_title %}The Ship's Log{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-xs-0 col-sm-0 col-md-2 col-lg-1">
    </div>
  
 
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-10">
    <p>
      Avast ye landlubbers! Captain Crit McGillicutty has been traveling the ocean blue. He invites all ye hearties and buccaneers to read his tales. The seadog is documenting his life at sea <a href="detail-page.html">here</a> for you. From Davy Jones' Locker to the heart of the sea, his adventures will leave you saying, "Shiver Me Timbers!" Captian Crit runs a tight ship. His crew swabs the deck but there is no mutiny. For those who betray the Captain, walk the plank! Yo ho, Yo ho, is it a pirate's life for ye? 
    </p>
    {% for entry in entries %}
  <h3 class="entry-headline"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
  <p class="entry-date">{{ entry.date }}</p>
  <hr>
{% endfor %}
     </ul>
    </div>
    <div class="col-xs-0 col-sm-0 col-md-2 col-lg-1">
    </div>
  </div>
</div>
{% endblock %}
